<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Customer Details</h2> </template>

      <hr class="my-4" />
      <b-container fluid>
        <!-- Modal for add Customer -->

        <div>
          <b-button
            id="show-btn"
            variant="primary"
            style="float:right"
            @click="$bvModal.show('bv-modal-example1')"
            >Add Customer</b-button
          >

          <b-modal id="bv-modal-example1" hide-footer>
            <template #modal-title>
              Customer Details
            </template>
            <form>
              <div class="mb-3">
                <label for="exampleInputName" class="form-label"
                  >Customer Name</label
                >
                <input
                  type="text"
                  v-model="customerName"
                  class="form-control"
                  id="Fname"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputUserRole" class="form-label"
                  >Address</label
                >
                <input
                  type="text"
                  v-model="custAddress"
                  class="form-control"
                  id="txtAddress"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputUsername" class="form-label"
                  >Contact Number</label
                >
                <input
                  type="text"
                  v-model="custContact"
                  class="form-control"
                  id="txtContact"
                />
              </div>
              <button class="btn btn-primary" @click="submitCustomer()">
                Submit
              </button>
            </form>
          </b-modal>
        </div>
        <!-- End of Modal -->
        <!-- End of Modal -->
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder="Type to Search"
              >
              </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Per page"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-form-select
              id="per-page-select"
              v-model="perPage"
              :options="pageOptions"
              size="sm"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="customersState"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <template #cell(actions)="row">
            <b-button
              size="sm"
              id="show-btn"
              variant="success"
              @click="getData(row.item)"
              >Update</b-button
            >
          </template>

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>
        <!-- User Interface controls -->
        <b-row>
          <!-- <b-col lg="6" class="my-1">
                    
                    </b-col> -->
          <div>
            <b-modal id="updateModal" hide-footer>
              <template #modal-title> Update Customer Details </template>
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label"
                    >Customer Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="editData.CusName"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputUserRole" class="form-label"
                    >Address</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="editData.CusAddress"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputUsername" class="form-label"
                    >Contact Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="editData.CusContact"
                  />
                </div>
                <button class="btn btn-success" @click="updateCustomer">
                  Update
                </button>
            </b-modal>
          </div>
        </b-row>

        <!-- Info modal -->
        <!-- <b-modal
          :id="infoModal.id"
          :title="infoModal.title"
          ok-only
          @hide="resetInfoModal"
        >
          <pre>{{ infoModal.content }}</pre>
        </b-modal> -->
      </b-container>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      customerName: "",
      custAddress: "",
      custContact: "",
      editData:{
     
      },
      items: [],
      fields: [
        {
          key: "id",
          label: "id",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CusName",
          label: "Customer Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CusAddress",
          label: "Address",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CusContact",
          label: "Contact Number",
          sortable: true,
          class: "text-center"
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      // infoModal: {
      //   id: "info-modal",
      //   title: "",
      //   content: ""
      // }
    };
  },
  computed: {
    customerList() {
      console.log(this.customersState);
    },

    ...mapGetters({
      customersState: "getters_customer_list"
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },

  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },
  beforeCreate() {
    this.$store.dispatch("loadCustomer");
  },
  methods: {

    getData(edit){
      this.editData = {...edit}
      console.log(edit);
     
      console.log("editData", this.editData);
      this.$bvModal.show('updateModal');
    },
    // load user details
    async customerDetails(token) {
      try {
        const res = await axios({
          method: "GET",
          url: `${this.$axios.default.baseURL}/customer`
        });
        console.log("customer", res);
      } catch (error) {}
    },

    // submit customer data
    async submitCustomer(token) {
      // console.log("err",this.selectedRole);
      this.$store
        .dispatch("addCustomer", {
          CusName: this.customerName,
          CusAddress: this.custAddress,
          CusContact: this.custContact
        })
        .then(res => {
          console.log("err", res);
          this.$store.dispatch("loadCustomer");
          this.$root.$emit("bv::hide::modal", "bv-modal-example1", "#bv-modal-example1");
        })
        .catch(err => err);
    },

    async updateCustomer(token){
     await this.$store.dispatch("editCustomer",{
       id: this.editData.id,
       CusName: this.editData.CusName,
       CusAddress: this.editData.CusAddress,
       CusContact: this.editData.CusContact
     })
     .then(res =>{
       console.log("err",res);
       this.$store.dispatch("loadCustomer");
      //  this.$root.$emit("bv::hide::modal", "updateModal", "#updateModal");
     })
     .catch((err) => err);
    },

    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>
