<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Receive Item</h2>
      </template>
           
      <hr class="my-4">
      <b-container fluid>
        <!-- Modal for add User -->
        <!-- End of Modal -->
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input id="filter-input" v-model="filter" type="search" placeholder="Type to Search">
            </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group label="Per page" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" class="mb-0">
            <b-form-select
              id="per-page-select" v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="deliveryState"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

           <template #cell(actions)="row">
            <b-button
              size="sm"
              @click="info(row.item, row.index, $event.target)"
              variant="primary"
              >View Details</b-button
            >
          </template>
          

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>

       
        <!-- User Interface controls -->
        <b-row>
          <!-- <b-modal
          :id="infoModal.id"
          :title="infoModal.title"
          ok-only
          @hide="resetInfoModal"
        >
          <pre>{{ infoModal.content }}</pre>
        </b-modal> -->
          <!-- <b-col lg=-col> -->

          <b-col sm="7" md="6" class="my-1">
            
          </b-col>
        </b-row>

        <!-- Info modal -->
        <!-- <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
          <pre>{{ infoModal.content }}</pre>
        </b-modal> -->
      </b-container>
    </b-jumbotron>
    
    
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
        productID: "",
        qty: "",
        updatedata: [],
      items: [],
      fields: [
        {
          key: "id",
          label: "Delivery ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "DateDelivered",
          label: "Date Delivered",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "User_TBL.FName",
          label: "Created By:",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "User_TBL.UserRole",
          label: "Position:",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Supplier_TBL.SuppName",
          label: "Supplier",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "actions", label: "Actions" }
        // {
        //   key: "DateDelivered",
        //   label: "Date Delivered",
        //   sortable: true,
        //   class: "text-center"
        // },
        
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {

    delivertTransList() {
      console.log(this.deliveryTransState);
      console.log(this.deliveryState);
    },

    ...mapGetters({
      deliveryTransState: "getters_deliveriesTrans_list",
      deliveryState: "getter_deliveries_list"
    }),


    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  // created() {
  //   console.log(this.items);
  //   this.addUser();
  // },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },

  beforeCreate() {
    // this.$store.dispatch("loadDeliveryTrans")
    this.$store.dispatch("loadDelivery")
  },
  methods: {

     // load delivery transaction
    async deliveryTransactionDetails(token){
      try {
         
        const res = await axios({
        method:"GET",
        url: `${this.$axios.default.baseURL}/deliveryTrans`,
      })
        console.log("deliveryTrans",res);
      } catch (error) {
        
      }
     
    },
    async deliveryDetails(token){
      try {
         
        const res = await axios({
        method:"GET",
        url: `${this.$axios.default.baseURL}/delivery`,
      })
        console.log("delivery",res);
      } catch (error) {
        
      }
     
    },
    // submit(data, index) {
    //     // alert(this.productID);
    //     this.$root.$emit("bv::hide::modal", "bv-modal-example1", "#bv-modal-example1");

    //     // console.log(data.address);
    //     var temp = JSON.parse(data);
    //     console.log(temp.address);
    //     console.log(temp.company);
    //     console.log(temp.contact);
    //     console.log(temp.isActive);
    //     // console.log(temp);
    //     console.log(index);
    // },
    
   info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    // resetInfoModal() {
    //   this.infoModal.title = "";
    //   this.infoModal.content = "";
    // },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

};
</script>
