<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Inventory</h2>
      </template>
           
      <hr class="my-4">
      <b-container fluid>
        <!-- Modal for add User -->
        <!-- End of Modal -->
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input id="filter-input" v-model="filter" type="search" placeholder="Type to Search">
            </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group label="Per page" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" class="mb-0">
            <b-form-select
              id="per-page-select" v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="productState"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <!-- <template #cell(actions)="row">
            <b-button
              size="sm"
              @click="info(row.item, row.index, $event.target)"
              class="btn btn-success">Update</b-button>
          </template> -->

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>

        <b-row>
          <b-col sm="7" md="6" class="my-1">
            
          </b-col>
        </b-row>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
          <pre>{{ infoModal.content }}</pre>
        </b-modal>
      </b-container>
    </b-jumbotron>
    
    
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
        productID: "",
        qty: "",
        updatedata: [],
      items: [],
      fields: [
        
        {
          key: "id",
          label: "Product ID",
          sortable: true,
          sortDirection: "desc"
        },
       
         {
          key: "ProdDesc",
          label: "Product Description",
          sortable: true,
          sortDirection: "desc"
        },
         {
          key: "Price",
          label: "Price",
          sortable: true,
          sortDirection: "desc"
        },
      
         {
          key: "Quantity",
          label: "Total Quantity",
          sortable: true,
          class: "text-center"
        },
        
       
        // { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    ...mapGetters({
      productState: "getters_product_list"
    })
  },
 
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },

  beforeCreate() {
    this.$store.dispatch("loadProduct")
  },
  methods: {

    async inventoryList(token){
       try {
         
        const res = await axios({
        method:"GET",
        url: `${this.$axios.default.baseURL}/product`,
      })
        console.log("product",res);
      } catch (error) {
        
      }
    },


    submit(data, index) {
        // alert(this.productID);
        this.$root.$emit("bv::hide::modal", "bv-modal-example1", "#bv-modal-example1");

        // console.log(data.address);
        var temp = JSON.parse(data);
        console.log(temp.address);
        console.log(temp.company);
        console.log(temp.contact);
        console.log(temp.isActive);
        // console.log(temp);
        console.log(index);
    },
    
   
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

};
</script>
