<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Order Transaction</h2> </template>

      <hr class="my-4" />
      <b-container fluid>
        <!-- Modal for add User -->
        <div>
          <template>
            <b-button
              style="float:right"
              variant="primary"
              @click="$bvModal.show('modal-scoped1')"
              >Select Product</b-button
            >
            <b-modal id="modal-scoped1">
              <template #modal-header>
                <h5>Select Product</h5>
              </template>
              <form>
                <div class="mb-3">
                  <input
                    type="text"
                    v-model="prodID"
                    class="form-control"
                    hidden
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputBarcode" class="form-label"
                    >Product</label
                  >
                  <select
                    class="form-control"
                    v-model="tempProd"
                    @change="findProductID"
                    
                  >
                    <option value="null">Select Produts</option>
                    <option
                      v-for="(data, x) in products"
                      :key="x"
                      :value="data.id"
                      >{{ data.ProdDesc }}</option
                    >
                  </select>
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    v-model="prodPrice"
                    class="form-control"
                    disabled
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputQuantity" class="form-label"
                    >Quantity</label
                  >
                  <input type="number" class="form-control" v-model="quantity"/>
                </div>
              </form>
              <template #modal-footer="{cancel}">
                <b-button size="m-3" variant="primary" @click="PlaceOrder">
                  Place Order
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel()">
                  Close
                </b-button>
              </template>
            </b-modal>
          </template>
        </div>
        <!-- End of Modal -->
        <b-col lg="6" class="my-2">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder="Type to Search"
              >
              </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Per page"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-form-select
              id="per-page-select"
              v-model="perPage"
              :options="pageOptions"
              size="sm"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="productss"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <template #cell(actions)="row">
            <b-button
              size="sm"
              @click="info(row.item, row.index, $event.target)"
              class="btn btn-success"
              >Update</b-button
            >

            <b-button size="sm" class="btn btn-danger">Remove</b-button>
          </template>

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>

        <template>
          <b-button variant="success" @click="$bvModal.show('modal-scoped')"
            >Checkout</b-button
          >

          <b-modal id="modal-scoped">
            <template #modal-header>
              <h5>Checkout Order</h5>
            </template>
            <form>
              <div class="mb-3">
                    <input
                      type="text"
                      v-model="customerID"
                      class="form-control"
                      hidden
                    />
                  </div>
              <div class="mb-3">
                <label for="exampleInputUserRole" class="form-label"
                  >Amounts Payable:</label
                >₱
                <input type="text" class="form-control"  aria-describedby="emailHelp" v-model="amountPayable" disabled>
              </div>
              <div class="mb-3">
                <label for="exampleInputUserRole" class="form-label"
                  >Tendered Amount</label
                >
                <input type="number" class="form-control" @input="tendered" v-model="tenderedAmounts">
              </div>
              <div class="mb-3">
                <label for="exampleInputUserRole" class="form-label"
                  >Change:</label
                >
                 <input type="text" class="form-control"  aria-describedby="emailHelp" v-model="change" disabled>
              </div>
              <div class="form-group">
                <label for="exampleSelect">Select Customer</label>
                <select class="form-control" @change="findCustomerID" v-model="tempCustomer">
                    <option value="null">-Select Customer-</option>
                    <option
                      v-for="(data, x) in Customers"
                      :key="x"
                      :value="data.id"
                      >{{ data.CusName }}</option
                    >
                  </select>
              </div>
            </form>
            <template #modal-footer="{cancel}">
              <b-button v-show="proceed" size="m-3" variant="success" @click="submitCheckout" >
                Proceed
              </b-button>
              <b-button size="m-3" variant="danger" @click="cancel()">
                Cancel
              </b-button>
            </template>
          </b-modal>
        </template>


        <div class="mb-3" style="float:right">
        <h4>Total Amount: </h4>
        <label>₱ </label><input type="text" :value="totalAmount" disabled>
        </div>
        <div>
          <!-- <b-button id="show-btn" variant="primary" style="float:right" @click="$bvModal.show('updateModal')">Add Supply</b-button> -->
          <b-modal id="updateModal" hide-footer>
            <template #modal-title>
              Update
            </template>
            <form>
             
            </form>
          </b-modal>
        </div>
        <!-- User Interface controls -->
        <b-row>
          <!-- <b-col lg="6" class="my-1">
                    
                    </b-col> -->
        </b-row>

        
      </b-container>
    </b-jumbotron>
    
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      proceed: false,
      selectCustomer: "",
      customerID:"",
      tempCustomer: "",
      tenderedAmounts: "",
      change:0,
      amountPayable: 0,
      totalAmount:0,
      prodID: "",
      amountItem: "",
      prodPrice: "",
      tempProd: "",
      selectProd: "",
      quantity: "",
      items: [],
      fields: [
        {
          key: "id",
          label: "Product ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "prodDesc",
          label: "Product Description",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Price",
          label: "Selling Price",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Quantity",
          label: "Quantity",
          sortable: true,
          class: "text-center"
        },
        {
          key: "amountItem",
          label: "Cost per Item",
          sortable: true,
          class: "text-center"
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      
    };
  },
  computed: {
    productss() {
      return  this.items
    },
    ...mapGetters({
      products: "getters_product_list",
      Customers: "getters_customer_list"
    }),
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },

  beforeCreate() {
     this.$store.dispatch("loadProduct");
     this.$store.dispatch("loadCustomer");
  },
  methods: {

    findCustomerID(id){
       console.log(id);
      for (let i = 0; i < this.Customers.length; i++) {
        const customer = this.Customers[i];

        if (this.tempCustomer == customer.id) {
          this.customerID= customer.id;
          this.selectCustomer = customer.CusName;

          break;
        }
      }
    },

    findProductID(id) {
      console.log(id);
      for (let i = 0; i < this.products.length; i++) {
        const product = this.products[i];

        if (this.tempProd == product.id) {
          this.prodID = product.id;
          this.prodPrice =  product.Price;
          this.selectProd = product.ProdDesc;

          break;
        }
      }
    },


    PlaceOrder() {
      let id=[]
      for (let a = 0; a < this.items.length; a++) {
        id.push(this.items[a].id)
      }
      if(id.includes(this.prodID)){
        // console.log("Product already exist")
        throw new Error("Product already exist")
      }
      // console.log(id);
      // console.log(this.prodID);

      this.items.push({
        id: this.prodID,
        prodDesc: this.selectProd,
        Price: this.prodPrice,
        Quantity: this.quantity,
        amountItem: this.quantity * this.prodPrice,
      });

      var temp = 0;
      for(var x=0; x<this.items.length; x++) {
        temp = temp + this.items[x].amountItem;
        console.log(temp);
        this.totalAmount = temp;
        this.amountPayable = temp;
      }
    },

    tendered(){
      this.change = (this.tenderedAmounts-this.amountPayable)
      if(this.change<0){
        this.proceed = false;
      }
      else {
        this.proceed = true;
      }
      return this.change;
    },

    async submitCheckout(token){
      this.$store
        this.$store.dispatch("addOrder", {
          items: this.items,
          CusName: this.selectCustomer,
          CustomerTBLId: this.customerID,
          TotalAmount: this.amountPayable,
          TenderedAmount: this.tenderedAmounts,
          Change: this.change,
          date: moment().format("YYYY-MM-DD"),
          UserTBLId: JSON.parse(localStorage.UserTBLId),
          Trans_Status: "Sold"
        })
        .then(res => {
          console.log("err", res);
          this.$store.dispatch("loadOrder");
          this.$root.$emit("bv::hide::modal", "modal-scoped", "#modal-scoped");
          this.items = [];
          // this.items.length = 0;
        })
        .catch(err => err);
    },

    



   
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>
