<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Received Item Details</h2>
      </template>
           
      <hr class="my-4">
      <b-container fluid>
        <!-- Modal for update -->
          <div>
          <template>
            <b-modal id="modal-scoped">
                 <template #modal-title>
                 Received Item Details
                </template>
                 <form>
                  <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Price</label>
                    <input type="text" class="form-control" id="txtName">
                  </div>
                   <div class="mb-3">
                    <label for="exampleInputAddress" class="form-label">Quantity Added</label>
                    <input type="text" class="form-control" id="txtAddresse">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputContact" class="form-label">Date Delivered</label>
                    <input type="password" class="form-control" id="txtContact">
                  </div>
                 </form>
                <template #modal-footer="{ ok, cancel}">
                
                <b-button size="m-3" variant="success" @click="ok()">
                    Update
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                
                </template>
            </b-modal>
        </template>
        </div>
        <!-- End of Modal -->
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input id="filter-input" v-model="filter" type="search" placeholder="Type to Search">
            </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group label="Per page" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" class="mb-0">
            <b-form-select
              id="per-page-select" v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <template #cell(actions)>
            <b-button size="sm" id="show-btn" variant="success" @click="$bvModal.show('modal-scoped')">Update</b-button>
           
          </template>

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>
        <!-- User Interface controls -->
        <b-row>
          <!-- <b-col lg="6" class="my-1">
                    
                    </b-col> -->
          

          <b-col sm="7" md="6" class="my-1">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="fill"
              size="sm"
              class="my-0"
            ></b-pagination>
          </b-col>
        </b-row>

        <!-- Info modal -->
        <b-modal
          :id="infoModal.id"
          :title="infoModal.title"
          ok-only
          @hide="resetInfoModal"
        >
          <pre>{{ infoModal.content }}</pre>
        </b-modal>
      </b-container>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  data() {
    return {
     items: [
        { id: 1001, user:"John Doe", id2: 123423423,  company: "Biotech Farms" ,prodDesc: "lettuce", Price:98, quantityAdded:100,  dateDelivered:"July 1, 2021"},
        { id: 1001, user:"John Doe", id2: 435345343,  company: "Biotech Farms" ,prodDesc: "lettuce", Price:98, quantityAdded:100,  dateDelivered:"July 1, 2021"},
        { id: 1001, user:"John Doe", id2: 546456442,  company: "Biotech Farms" ,prodDesc: "lettuce", Price:98, quantityAdded:100,  dateDelivered:"July 1, 2021"},
        { id: 1001, user:"John Doe", id2: 724242356,  company: "Biotech Farms" ,prodDesc: "lettuce", Price:98, quantityAdded:100,  dateDelivered:"July 1, 2021"},
        { id: 1001, user:"John Doe", id2: 123242344,  company: "Biotech Farms" ,prodDesc: "lettuce", Price:98, quantityAdded:100,  dateDelivered:"July 1, 2021"},
      ],
      fields: [
         {
          key: "id",
          label: "Delivered ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "user",
          label: "Recorded By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "id2",
          label: "Barcode",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "company",
          label: "Supplier",
          sortable: true,
          sortDirection: "desc"
        },
         {
          key: "prodDesc",
          label: "Product Description",
          sortable: true,
          sortDirection: "desc"
        },
         {
          key: "Price",
          label: "Price",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "quantityAdded",
          label: "Quantity Added",
          sortable: true,
          class: "text-center"
        },
         
        {
          key: "dateDelivered",
          label: "Date Delivered",
          sortable: true,
          class: "text-center"
        },
       
        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
//   created() {
//     console.log(this.items);
//     this.addUser();
//   },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },
  methods: {
    
    // addUser() {
    //   this.items.push({
    //     age: "80",
    //     isActive: "true",
    //     name: {
    //       first: "Genesis",
    //       last: "Onajon"
    //     }
    //   });

    //   this.items[1].age = "22";
    //   this.items[1].isActive = "true";
    //   this.items[1].name.first = "Fname";
    //   this.items[1].name.last = "Lname";
    //   console.log(this.items);
    // },
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

};
</script>
