<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Supplier Details</h2>
      </template>
           
      <hr class="my-4">
      <b-container fluid>
        <!-- Modal for add Supplier -->
        <div>
          <template>
            <b-button style="float:right" variant="primary" @click="$bvModal.show('modal-scoped')">Add New Supplier</b-button>
            
            <b-modal id="modal-scoped">
                 <template #modal-title>
                 Supplier Details
                </template>
                 <form>
                  <div class="mb-3">
                    <label for="exampleInputBarcode" class="form-label">Company</label>
                    <input type="text" v-model="suppCompany" class="form-control" >
                  </div>
                   <div class="mb-3">
                    <label for="exampleInputBarcode" class="form-label">Contact Number</label>
                    <input type="text" v-model="suppContactNo" class="form-control">
                  </div>
                   <div class="mb-3">
                    <label for="exampleInputBarcode" class="form-label">Address</label>
                    <input type="text" v-model="suppAddress" class="form-control" >
                  </div>
                 </form>
                <template #modal-footer="{cancel}">
                
                <b-button size="m-3" variant="primary" @click="submiit_supplier">
                    Add
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                
                </template>
            </b-modal>
        </template>
        </div>
        <!-- End of Modal -->
        <!-- Modal for Update Supplier -->
        <div>
          <template>
            <b-modal id="updateModals">
                 <template #modal-title>
                 Supplier Details
                </template>
                 <form>
                  <div class="mb-3">
                    <label for="exampleInputBarcode" class="form-label">Company</label>
                    <input type="text" class="form-control" v-model="editData.SuppName">
                  </div>
                   <div class="mb-3">
                    <label for="exampleInputBarcode" class="form-label">Address</label>
                    <input type="text" class="form-control" v-model="editData.SuppAddress">
                  </div>
                   <div class="mb-3">
                    <label for="exampleInputBarcode" class="form-label">Contact Number</label>
                    <input type="text" class="form-control" v-model="editData.SuppContact">
                  </div>
                  
                 </form>
                <template #modal-footer="{cancel}">
                
                <b-button size="m-3" variant="success" @click="edit_supplier">
                    Update
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                
                </template>
            </b-modal>
        </template>
        </div>
        <!-- End of Modal -->
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input id="filter-input" v-model="filter" type="search" placeholder="Type to Search">
            </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group label="Per page" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" class="mb-0">
            <b-form-select
              id="per-page-select" v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="supplierState"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <template #cell(actions)="row">
            <b-button
              size="sm"
              @click="getData(row.item)"
              class="btn btn-success">Update</b-button>
          </template>

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>
        <!-- User Interface controls -->
        <b-row>
          <!-- <b-col lg="6" class="my-1">
                    
                    </b-col> -->

        </b-row>

        <!-- Info modal -->
        
      </b-container>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from "axios";
import {mapGetters, mapState, mapMutations} from "vuex";
export default {
  data() {
    return {
      editData:{

      },
      suppCompany:"",
      suppContactNo: "",
      suppAddress: "",
      items: [],
      fields: [
        {
          key: "id",
          label: "id",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "SuppName",
          label: "Company",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "SuppContact",
          label: "Contact Number",
          sortable: true,
        },
        
         {
          key: "SuppAddress",
          label: "Address",
          sortable: true,
          sortDirection: "desc"
        },
        
        { key: "actions", label: "Actions" }
      ],

      options: [
        {value: "Active" ,text: "Active"},
        {value: "In-Active", text: "In-Active"},
        
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
     
    };
  },
  computed: {

    supplierList(){
      console.log(this.supplierState);
    },
    
    ...mapGetters (
      {
         supplierState: "getters_suppplier_list"
      }), 


    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
 
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },

  beforeCreate(){
    this.$store.dispatch("loadSupplier");
  },


  methods: {

    getData(edit, id){
      this.editData = {...edit}
      console.log(edit);
      console.log("editData", this.editData);
      this.$bvModal.show('updateModals')
    },
    // load supplier Details
     async supplierDetails(token){
      try {
         
        const res = await axios({
        method:"GET",
        url: `${this.$axios.default.baseURL}/supplier`,
        
      })
        console.log("supplier",res);
      } catch (error) {
        
      }
     
    },

    async submiit_supplier(token){
      this.$store.dispatch("addSupplier",{
       SuppName: this.suppCompany,
       SuppContact: this.suppContactNo,
       SuppAddress: this.suppAddress
     })
     .then(res =>{
       console.log("err",res);
       this.$store.dispatch("loadSupplier");
       this.$root.$emit("bv::hide::modal", "modal-scoped", "#modal-scoped");
     })
     .catch((err) => err);
    },

     async edit_supplier(token){
     await this.$store.dispatch("editSupplier",{
       SuppName: this.editData.SuppName,
       SuppContact: this.editData.SuppContact,
       SuppAddress: this.editData.SuppAddress,
       id: this.editData.id
     })
     .then(res =>{
       console.log("err",res);
       this.$store.dispatch("loadSupplier");
       this.$root.$emit("bv::hide::modal", "updateModals", "#updateModals");
     })
     .catch((err) => err);
    },
    
    
    
    
   
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

};
</script>
