<template>
  <div>
    <b-jumbotron>
      <template #header><h2>Supply Management</h2> </template>

      <hr class="my-4" />
      <b-container fluid>
        <!-- Modal for add User -->

        <div>
          <template>
            <b-button
              style="float:right"
              variant="primary"
              @click="$bvModal.show('modal-scoped')"
              >Add Stocks</b-button
            >

            <b-modal id="modal-scoped">
              <template #modal-title>
                Supply Details
              </template>
              <form>
                <div class="mb-3">
                    <input
                      type="text"
                      v-model="prodID"
                      class="form-control"
                      hidden
                    />
                  </div>
                <div class="mb-3">
                  <label for="exampleInputBarcode" class="form-label"
                    >Product</label
                  >
                  <select
                    class="form-control"
                    v-model="tempProd"
                    @change="findProductID"
                  >
                    <option value="null">Select Produts</option>
                    <option
                      v-for="(data, x) in products"
                      :key="x"
                      :value="data.id"
                      >{{ data.ProdDesc }}</option
                    >
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputBarcode" class="form-label"
                    >Quantity</label
                  >
                  <input
                    type="number"
                    v-model="quantity"
                    class="form-control"
                    id="txtQauntity"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPrice" class="form-label"
                    >Supplier Price</label
                  >
                  <input
                    type="number"
                    v-model="price"
                    class="form-control"
                    id="txtPrice"
                  />
                </div>
              </form>
              <template #modal-footer>
                <b-button size="m-3" variant="primary" @click="addStocks">
                  Add
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel1">
                  Cancel
                </b-button>
              </template>
            </b-modal>
          </template>
        </div>

        <!-- End of Modal -->
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder="Type to Search"
              >
              </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Per page"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-form-select
              id="per-page-select"
              v-model="perPage"
              :options="pageOptions"
              size="sm"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <template #cell(actions)="row">
            <b-button
              size="sm"
              @click="info(row.item, row.index, $event.target)"
              class="btn btn-success"
              >Update</b-button
            >
            <b-button size="sm" class="btn btn-danger">Remove </b-button>
          </template>

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>

        <div>
          <template>
            <b-button
              style="float:right"
              variant="primary"
              @click="$bvModal.show('modal-scoped1')"
              >Add Supply</b-button
            >
            <b-modal id="modal-scoped1">
              <template #modal-title>
                Delivered By:
              </template>
              <form>
                <div class="mb-3">
                    <input
                      type="text"
                      v-model="supplierID"
                      class="form-control"
                      hidden
                    />
                  </div>
                <div class="mb-3">
                  <label for="exampleInputBarcode" class="form-label"
                    >Select Supplier</label
                  >
                  <select class="form-control" @change="findSupplierID" v-model="tempSupplier">
                    <option value="null">Select Supplier</option>
                    <option
                      v-for="(data, x) in Supplier"
                      :key="x"
                      :value="data.id"
                      >{{ data.SuppName }}</option
                    >
                  </select>
                </div>
              </form>
              <template #modal-footerc>
                <b-button size="m-3" variant="success" @click="saveSupply">
                  Save
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel2">
                  Cancel
                </b-button>
              </template>
            </b-modal>
          </template>
        </div>

        <div>
          <!-- <b-button id="show-btn" variant="primary" style="float:right" @click="$bvModal.show('updateModal')">Add Supply</b-button> -->
          <b-modal id="updateModal" hide-footer>
            <template #modal-title>
              Update
            </template>
            <form>
              <!-- {{ updatedata }} -->
              <input type="text" v-model="updatedata.company" />
              <input type="text" v-model="updatedata.address" />
              
            </form>
          </b-modal>
        </div>
        <!-- User Interface controls -->
        <b-row>
        
        </b-row>

        <!-- Info modal -->
        <b-modal
          :id="infoModal.id"
          :title="infoModal.title"
          ok-only
          @hide="resetInfoModal"
        >
          <pre>{{ infoModal.content }}</pre>
        </b-modal>
      </b-container>
    </b-jumbotron>

    <div></div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { mapGetters, mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      productDesc: "",
      qty: "",
      selectProd: "",
      tempProd: "",
      tempSupplier: "",
      prodID: "",
      selectSupp: "",
      quantity: "",
      price: "",
      supplierID:"",
      updatedata: [],
      items: [],
      fields: [
        {
          key: "id",
          label: "Product ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "prodDesc",
          label: "Product Description",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "price",
          label: "Supplier Price",
          sortable: true,
          class: "text-center"
        },
        {
          key: "Quantity",
          label: "Delivered Quantity",
          sortable: true,
          class: "text-center"
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    delivertTransList() {
      console.log(this.deliveryTransState);
    },

    ...mapGetters({
      deliveryTransState: "getter_deliveriesTrans_list",
      products: "getters_product_list",
      Supplier: "getters_suppplier_list"

    }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    optionSupplier() {
      // return this.$store.getters.getters_suppplier_list;
    }
  },
  // created() {
  //   console.log(this.items);
  //   this.addUser();
  // },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },

  beforeCreate() {
    this.$store.dispatch("loadSupplier");
    this.$store.dispatch("loadProduct");
    
    // this.$store.dispatch("loadDeliveryTrans");
  },
  methods: {
    findProductID(id) {
      console.log(id);
      for (let i = 0; i < this.products.length; i++) {
        const product = this.products[i];

        if (this.tempProd == product.id) {
          this.prodID = product.id;
          this.selectProd = product.ProdDesc;

          break;
        }
      }
    },

    findSupplierID(id){
      console.log(id);
      for (let i = 0; i < this.Supplier.length; i++) {
        const supplier = this.Supplier[i];

        if (this.tempSupplier == supplier.id) {
          this.supplierID = supplier.id;
          this.selectSupp = supplier.SuppName;

          break;
        }
      }
    },
   

    // Add supply Transaction
    async saveSupply(token) {
      this.$store
        console.log("supplier",this.selectSupp)
        this.$store.dispatch("addSupply", {
          items: this.items,
          SuppName: this.selectSupp,
          SuppID: this.supplierID,
          date: moment().format("YYYY-MM-DD"),
          UserID: JSON.parse(localStorage.UserTBLId),
          isStatus: "Complete"

        })
        .then(res => {
          console.log("err", res);
          //  this.$store.dispatch("loadDelivery");
        })
        .catch(err => err);
    },

   
    addStocks() {
      // console.log(this.items)
      let id=[]
      for (let a = 0; a < this.items.length; a++) {
        id.push(this.items[a].id)
      }
      if(id.includes(this.prodID)){
        // console.log("Product already exist")
        throw new Error("Product already exist")
      }
      console.log(id)
        console.log(this.prodID)

      this.items.push({
        id: this.prodID,
        prodDesc: this.selectProd,
        Quantity: parseInt(this.quantity,),
        price: this.price
      });
    },

    submit(data, index) {
      // alert(this.productID);
      this.$root.$emit(
        "bv::hide::modal",
        "bv-modal-example1",
        "#bv-modal-example1"
      );

      // console.log(data.address);
      var temp = JSON.parse(data);
      console.log(temp.address);
      console.log(temp.company);
      console.log(temp.contact);
      console.log(temp.isActive);
      // console.log(temp);
      console.log(index);
    },
    
    cancel1(){
      this.$root.$emit("bv::hide::modal", "modal-scoped", "#modal-scoped");
      this.tempProd = "";
      this.quantity = "";
      this.price = "";

    },

    cancel2(){
      // this.$root.$emit("bv::hide::modal", "modal-scoped1", "#modal-scoped1");
      this.tempSupplier = "";
      this.supplierID = "";

    },
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      //   this.$root.$emit("bv::show::modal", this.infoModal.id, button);
      this.$root.$emit("bv::show::modal", "updateModal", "#updateModal");
      this.updatedata = JSON.parse(this.infoModal.content);
      this.submit(this.infoModal.content, index);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>
