<template>
  <div>
    <b-jumbotron>
      <template #header><h2>User Details</h2>
      </template>
           
      <hr class="my-4">
      <b-container fluid>
        <!-- Modal for add User -->
        <!-- <p>{{ sampler }}</p>
        <button @click="Sample()">Sample</button> -->
        <div>
          <template>
            <b-button style="float:right" variant="primary" @click="$bvModal.show('modal-scoped')">Add User</b-button>
            
            <b-modal id="modal-scoped">
                <template #modal-title>
                 User Details
                </template>
                 <form>
                   <div class="mb-3">
                    <label for="exampleInputUserRole" class="form-label">Select Roles</label>
                     <b-form-select v-model="selectedRole" :options="options"></b-form-select>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputName" class="form-label">Full Name</label>
                      <input type="text" class="form-control" id="txtName" v-model="fullName">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputUsername" class="form-label">Username</label>
                      <input type="text" class="form-control" id="txtUsername" v-model="userName">
                    </div>
                 </form>
                <template #modal-footer="{cancel}">
                
                <b-button type="submit" size="m-3" variant="primary" @click="submit_userdata()">
                    Submit
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                
                </template>
            </b-modal>
        </template>
        </div>
  <!-- End of Modal for add user -->

  <!-- Modal for Update user -->
        <div>
          <template>
             <b-modal id="modal-scoped2">
                 <template #modal-title>
                 User Details
                </template>
                 <form>
                  <div class="mb-3">
                    <label for="exampleInputUserRole" class="form-label">Select Role</label>
                     <b-form-select v-model="editData.UserRole">
                      <option
                        :value="option.value"
                        v-for="(option, i) in options"
                        :key="i"
                        >{{ option.text }}</option
                      >
                      </b-form-select>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Full Name</label>
                    <input type="text" v-model="editData.FName" class="form-control">
                  </div>
                   <div class="mb-3">
                    <label for="exampleInputUsername" class="form-label">Username</label>
                    <input type="text" v-model="editData.UserName" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputStatus" class="form-label">Status</label>
                     <b-form-select v-model="editData.UserStatus">
                       <option
                        :value="option.value"
                        v-for="(option, i) in optionStatus"
                        :key="i"
                        >{{ option.text }}</option
                      >
                     </b-form-select>
                  </div>
                 </form>
                <template #modal-footer="{cancel}">
                
                <b-button size="m-3" variant="primary" @click="update_userdata">
                    Submit
                </b-button>
                <b-button size="m-3" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                
                </template>
            </b-modal>
          </template>
        </div>
        <!-- end of modal for update user -->
        
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filter"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input id="filter-input" v-model="filter" type="search" placeholder="Type to Search">
            </b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1"> </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group label="Per page" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" class="mb-0">
            <b-form-select
              id="per-page-select" v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Sort"
            label-for="sort-by-select"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
            v-slot="{ ariaDescribedby }"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sort-by-select"
                v-model="sortBy"
                :options="sortOptions"
                :aria-describedby="ariaDescribedby"
                class="w-75"
              >
                <template #first>
                  <option value="">-- none --</option>
                </template>
              </b-form-select>

              <b-form-select
                v-model="sortDesc"
                :disabled="!sortBy"
                :aria-describedby="ariaDescribedby"
                size="sm"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- Main table element -->
        <b-table
          :items="usersState"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filter-included-fields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          stacked="md"
          show-empty
          small
          @filtered="onFiltered"
        >
          <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>

          <template #cell(actions)="row">
            <b-button
              style="border-radius: 100px"
              size="sm"
              @click="getData(row.item)"
              class="btn btn-success"
            >
              Update
            </b-button>
          </template>

          <template #row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>
        </b-table>
        <!-- User Interface controls -->
        <b-row>
          
        </b-row>

        <!-- Info modal -->
      </b-container>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from "axios";
import {mapGetters, mapState, mapMutations} from "vuex";
export default {
  data() {
    return {
      editData:{
     
      },
      
      fullName: "",
      selectedRole: "",
      userName: "",
      password: "",
      items: [],
      fields: [
        {
          key: "id",
          label: "id",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "FName",
          label: "Person full name",
          sortable: true,
          sortDirection: "desc"
        },
         {
          key: "UserRole",
          label: "User Role",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "UserName",
          label: "Username",
          sortable: true,
          class: "text-center"
        },
         {
          key: "PassWord",
          label: "Password",
          type: "password",
          sortable: true,
          class: "text-center"
        },
        {
          key: "UserStatus",
          label: "Status",
          formatter: (value, key, item) => {
            return value ? "Active" : "In-Active";
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions" }
      ],

      options: [
        {value: "admin" ,text: "admin"},
        {value: "cashier", text: "cashier"},
        {value: "warehouse clerk" , text: "warehouse clerk"}
      ],

      optionStatus:[
        {value: "Active", text: "Active"},
        {value: "In-Active" ,text: "in-active"}
      ],

      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      // infoModal: {
      //   id: "info-modal",
      //   title: "",
      //   content: ""
      // }
    };
  },
  computed: {

    userList(){
      console.log(this.usersState);
    },
    
    ...mapGetters (
      {
         usersState: "getters_user_list"
      }), 
    // ),
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  // created() {
  //   console.log(this.items);
  //   this.addUser();
  // },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
    // this.sampler = this.$store.getters.sample_getters;
  },
  beforeCreate(){
    this.$store.dispatch("loadUser");
  },
  methods: {
    // user edit pop-up modal

    getData(edit){
      this.editData = {...edit}
      console.log(edit);
     // let {id} = edit
    //  console.log("MY ID is: ", id)
      console.log("editData", this.editData);
      this.$bvModal.show('modal-scoped2');
    },

    async userDetails(token){
      try {
         
        const res = await axios({
        method:"GET",
        url: `${this.$axios.default.baseURL}/user`,
      })
        console.log("user",res);
      } catch (error) {
        
      }
     
    },
    //submit data for user
    async submit_userdata(token){
      console.log("err",this.selectedRole);
      this.$store.dispatch("addUser",{
       FName: this.fullName,
       UserRole: this.selectedRole,
       UserName: this.userName,
       UserStatus: "Active"
     })
     .then(res =>{
      console.log("err",res);
      this.$store.dispatch("loadUser");
      this.$root.$emit("bv::hide::modal", "modal-scoped", "#modal-scoped");
     })
     .catch((err) => err);
    },

  // update data 
    async update_userdata(token){
     await this.$store.dispatch("editUser",{
       id: this.editData.id,
       FName: this.editData.FName,
       UserName: this.editData.UserName,
       UserRole: this.editData.UserRole,
       UserStatus: this.editData.UserStatus
     })
     .then(res =>{
       console.log("err",res);
       this.$store.dispatch("loadUser");
       this.$root.$emit("bv::hide::modal", "modal-scoped2", "#modal-scoped2");
     })
     .catch((err) => err);
    },
    
    
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

};
</script>
