<template>
  <div class="wrapper">
    <div class="sidebar">
      <h5>Lougeh Supermarket</h5>
      <ul>
        <li @click="navigate(1)">
          <a><i>User Management</i></a>
        </li>
        <li @click="navigate(2)">
          <a><i>Customer Records</i></a>
        </li>
        <li @click="navigate(3)">
          <a><i>Supplier Records</i></a>
        </li>
        <li @click="navigate(4)">
          <a><i>Received Item</i></a>
        </li>
        <li @click="navigate(5)">
          <a><i>Inventory</i></a>
        </li>
        <li @click="navigate(6)">
          <a><i>Sales</i></a>
        </li>
      </ul>
    </div>
    <div class="main_content">
      <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form> </b-nav-form>
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <em>Admin</em>
              </template>
              <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-navbar>
      </div>
      <div class="content">
        <div>
          <Nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  methods: {

    logout() {
      localStorage.clear();
      this.$router.push("/");
    },
    navigate(val) {
      if (val == 1) {
        this.$router.push({ path: "../userPage" });
      } else if (val == 2) {
        this.$router.push({ path: "../customerRecordPage" });
      } else if (val == 3) {
        this.$router.push({ path: "../supplierRecordPage" });
      } else if (val == 4) {
        this.$router.push({ path: "../stocksPage" });
      } else if (val == 5) {
        this.$router.push({ path: "../inventoryManagementPage" });
      } else if (val == 6) {
        this.$router.push({ path: "../salesPage" });
      }
    }
  }
};
</script>

<style scoped lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #035a6a;
  padding: 30px 0;
}

.wrapper .sidebar h5 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
  text-align: justify;
}

//  .wrapper .sidebar ul li a{
//      color: #bdb8d7;
//      display: block;
//  }

//  .wrapper .sidebar ul li:hover{
//      background: #594f8d;
//      cursor: pointer;
//  }
i {
  font-style: normal;
}
.wrapper .sidebar ul li a {
  color: #fff;
}

.wrapper .sidebar ul li {
  &:hover {
    cursor: pointer;
    background: #43b9ce;
    color: #fff;
  }
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: rgb(238, 237, 243);
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}
.wrapper .main_content .content {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .content div {
  margin-bottom: 20px;
}
</style>
