<template>
    <div>
        <customer/>
    </div>
</template>

<script>
import Customer from "../components/customer.vue";
export default {
    layout: "cashierLayout",
    components: {
        Customer
    }
}
</script>

<style scoped>
    