<template>
    <div>
        <customer/>
    </div>
</template>

<script>
import CustomerRecord from "../components/customer.vue";
export default {
    layout: "AdminLayout",
    components: {
        CustomerRecord
    }
}
</script>

<style scoped>
    