<template>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div>
          <b-jumbotron
            bg-variant="info"
            text-variant="white"
            border-variant="dark"
          >
            <template #header>LOUGEH SUPERMARKET</template>
            <hr class="my-4" />
            <div class="content">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  v-model="userName"
                  id="exampleInputEmail1"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  @keyup.enter="loginUser"
                  class="form-control"
                  v-model="passWord"
                  id="exampleInputPassword1"
                />
              </div>
              <button class="btn btn-primary" @click="loginUser()">
                LOGIN
              </button>
            </div>
          </b-jumbotron>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
import axios from "axios"
export default {
    data() {
      return{
        userName:"",
        passWord: "",
      }
    },
    methods: {

      // Login User
      async loginUser(){

      this.$store
        .dispatch("loginUser", {
          username: this.userName,
          password: this.passWord,
        })

        .then(res => {
          localStorage.username = this.userName;
          // localStorage.UserTBLId=this.UserTBLId;
          localStorage.UserTBLId=res.data.view.UserTBLId;
          localStorage.id=res.data.view.id;
          localStorage.SecretKey = res.data.view.JWToken;

          if(res.data.view.User_TBL.UserStatus == "Active"){
            // user page for every user role
            if(res.data.view.User_TBL.UserRole == "admin"){
            this.$router.push("/userPage");
            }
            else if(res.data.view.User_TBL.UserRole == "warehouse clerk"){
                this.$router.push("/newProductPage");
            }
            else if(res.data.view.User_TBL.UserRole == "cashier" || res.data.view.User_TBL.UserRole == "Cashier"){
                this.$router.push("/orderPage");
            }
          // }
          }
         
          
          
        })
        .catch(err => err);
      }




    }
}
</script>

<style lang="scss" scoped>
.container {
  margin-top: 50px;
}
</style>
