<template>
    <div>
        <inventory/>
    </div>
</template>

<script>
import inventory from"../components/inventory.vue";
export default {
    layout: "Warehouse",
    components: {
        inventory
    }
}
</script>

<style scoped>
    
</style>