<template>
    <div>
        <inventory/>
    </div>
</template>

<script>
import inventory from "../components/inventory.vue";
export default {
    layout: "AdminLayout",
    components: {
        inventory
    }
}
</script>

<style scoped>
    