<template>
    <div>
        <newProduct/>
    </div>
</template>

<script>
import newProduct from"../components/newProduct.vue";
export default {
    layout: "Warehouse",
    components: {
        newProduct
    }
}
</script>

<style scoped>
    
</style>