<template>
    <div>
        <orderTransaction/>
    </div>
</template>

<script>
import orderTransaction from "../components/orderTransaction.vue";
export default {
    layout: "cashierLayout",
    components: {
        orderTransaction
    }
}
</script>

<style scoped>
    