<template>
    <div>
        <productPrice/>
    </div>
</template>

<script>
import productPrice from"../components/productPrice.vue";
export default {
    layout: "Warehouse",
    components: {
       productPrice
    }
}
</script>

<style scoped>
    
</style>