<template>
    <div>
        <salesComponents />
    </div>
</template>

<script>
import salesComponents from "../components/salesComponents.vue";
export default {
    layout: "AdminLayout",
    components: {
       salesComponents
    }
}
</script>

<style scoped>
    
</style>