<template>
    <div>
        <delivery/>
    </div>
</template>

<script>
import delivery from"../components/delivery.vue";
export default {
    layout: "AdminLayout",
    components: {
        delivery
    }
}
</script>

<style scoped>
    
</style>