<template>
    <div>
        <supply/>
    </div>
</template>

<script>
import supply from"../components/supply.vue";
export default {
    layout: "Warehouse",
    components: {
        supply
    }
}
</script>

<style scoped>
    
</style>