<template>
    <div>
        <supplier />
    </div>
</template>

<script>
import supplierRecord from "../components/supplier.vue";
export default {
    layout: "AdminLayout",
    components: {
        supplierRecord
    }
}
</script>

<style scoped>
    
</style>