<template>
    <div>
        <supplier/>
    </div>
</template>

<script>
import supplierManagement from"../components/supplier.vue";
export default {
    layout: "Warehouse",
    components: {
        supplierManagement
    }
}
</script>

<style scoped>
    
</style>