<template>
    <div>
        <UserComponent />
    </div>
</template>

<script>
import UserComponent from "../components/UserComponent.vue";
export default {
    layout: "AdminLayout",
    components: {
        UserComponent
    }
}
</script>

<style scoped>
    
</style>